saa/*

!saa/U1_Introduccion/
!saa/U2_AprendizajeSupervisado/
!saa/U3_AprendizajeSupervisado2/
saa/U3_AprendizajeSupervisado2/U03-P02-Clasificacion/detecta_digit_ai.joblib
saa/U3_AprendizajeSupervisado2/U03_Recursos/U03_P04_Audios
saa/U3_AprendizajeSupervisado2/U03-P03-Clasificadores-de-Texto/actividad3/dataset.csv
saa/U3_AprendizajeSupervisado2/U03_Recursos/animals
saa/U3_AprendizajeSupervisado2/U03_Recursos/pintores
saa/U3_AprendizajeSupervisado2/U03_Recursos/U03_P03_Texto/
